[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
psutil = "*"
websockets = "*"

[requires]
python_version = "3.7"

[scripts]
web = "python manager.py"
scheduler = "sh -c \"cd streams; python schedule.py\""
encode = "sh -c \"cd streams; python encode.py\""
upload = "sh -c \"cd streams; python upload.py\""
encode_loop = "sh -c \"cd streams; python encode_loop.py\""
upload_loop = "sh -c \"cd streams; python upload_loop.py\""
