[Unit]
Description=pybiliroku service
After=network.target

[Service]
User=xiaoq
Group=xiaoq
ExecStart=/usr/bin/python3 /home/xiaoq/pybiliroku/manager.py
Environment="PYTHONUNBUFFERED=TRUE"
WorkingDirectory=/home/xiaoq/pybiliroku/

[Install]
WantedBy=multi-user.target

