[Unit]
Description=pybiliroku service
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=xiaoq
ExecStart=/bin/bash -i /home/xiaoq/workspace/pybiliroku/pybiliroku.sh

[Install]
WantedBy=multi-user.target

