[Unit]
Description=biliupload service
After=network.target

[Service]
User=xiaoq
Group=xiaoq
ExecStart=/usr/bin/python3 /home/xiaoq/pybiliroku/streams/schedule.py
Environment="PYTHONUNBUFFERED=TRUE"
WorkingDirectory=/home/xiaoq/pybiliroku/streams/

[Install]
WantedBy=multi-user.target

